langchain==0.3.21
langchain-community==0.3.20
langchain-milvus==0.1.6
langgraph==0.3.16
pymilvus==2.5.2
pymysql==1.1.1
redis==5.2.1
flask==3.1.1
flask-cors==5.0.1
gunicorn==23.0.0
beautifulsoup4==4.13.3
requests==2.32.3
openai==1.68.2
jieba==0.42.1
sentence-transformers==3.4.1
pydantic==2.10.6
python-dotenv==1.1.0
loguru==0.7.3
